NEXT_PUBLIC_WALLET_MODE=mock
CAW_MOCK_MODE=true
AGENT_WALLET_API_URL=
AGENT_WALLET_API_KEY=
AGENT_WALLET_WALLET_ID=
AGENT_WALLET_PACT_ID=
CAW_DESTINATION=
CAW_RECIPIENT_DATA_API=
CAW_RECIPIENT_AI_INFERENCE=
CAW_RECIPIENT_ONCHAIN_ANALYTICS=
CAW_RECIPIENT_RESEARCH_FEED=
CAW_PACT_MAX_SINGLE_TRANSFER_SETH=1
GUARDIAN_AUTO_EXECUTE_MAX_SETH=0.001
GUARDIAN_CONFIRM_MAX_SETH=1
